.grid-container{
    grid-template-rows: 80px 80px 20px 60px 20px 80px 80px 80px 20px 80px 80px 20px 80px 80px 20px 80px 80px 20px 80px 80px 80px 20px 25px;
}

.Slider{
    grid-area: 6 / 2 / span 3 / 12;
    border: solid 1px black;
    border-radius: 5px;
}

.FB{
    grid-area: 10 / 10 / span 2 / 12;
    background-color: #4267b2;
    text-align: center;
    border: solid 1px black;
    font-size: 48px;
    border-radius: 5px;
}

.FB:hover{
    background-color: #365594;
    transition: .5s ease;
    border-radius: 5px;
}

.IG{
    grid-area: 13 / 10 / span 2 / 12;
    background-color: #dd2269;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
}

.IG:hover{
    background-color: #b81b57;
    transition: .5s ease;
    border-radius: 5px;
}

.YT{
    grid-area: 16 / 10 / span 2 / 12;
    background-color: #e52027;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
}

.YT:hover{
    background-color: #be1a1f;
    transition: .5s ease;
    border-radius: 5px;
}

.TW{
    grid-area: 19 / 10 / span 2 / 12;
    background-color: #39a2f3;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
}

.TW:hover{
    background-color: #2e84c5;
    transition: .5s ease;
    border-radius: 5px;
}

.Title{
    grid-area: 1 / 1 / 2 / 4;
    font-size: 30px;
    border-radius: 5px;
}

.Footer{
    grid-area: 22 / 1 / 23 / -1;
    text-align: center;
    padding-top: 8px;
}

.image{
    width: 180px;
    height: 170px;
}

.img:hover .overlay{
    opacity: 0.85;
}

.img_1{
    border-bottom-left-radius: 5px;
    background-color: white;
    position: relative;
    width: 100%;
    border-top: solid 1px black;
}

.img_2{
    background-color: white;
    position: relative;
    width: 100%;
    border-top: solid 1px black;
}

.img_3, .img_4{
    border-bottom-right-radius: 5px;
    background-color: white;
    position: relative;
    width: 100%;
    border-top: solid 1px black;
}

.img_1:hover{
    border-bottom-left-radius: 5px;
    opacity: 0.85;
}

.img_2:hover{
    opacity: 0.85;
}

.img_3:hover, .img_4:hover{
    border-bottom-right-radius: 5px;
    opacity: 0.85;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #028b57;
}

.ove_1{
    border-bottom-left-radius: 5px;
}

.ove_2{
    border-bottom-right-radius: 5px;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.News{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 10 / 2 / span 5 / 9;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px black;
    background-color: #72d5f0;
}

.Sale{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 16 / 2 / span 5 / 9;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px black;
    background-color: #72d5f0;
}